body {
    margin: 0 auto;
    font-family: sans-serif;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 10px;
}

.feed {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.feed a {
    color: white;
    text-decoration: none;
}

.feed h3 {
    margin: 0;
    line-height: 40px;
    white-space: nowrap;
    transform: translateX(calc(100%));
    animation: feed 60s linear infinite;
    color: white;
}

.feed h3:hover {
    animation-play-state: paused;
}

@keyframes feed {
    0% {
        transform: translateX(calc(100%));
    }
    100% {
        transform: translateX(-100%);
    }
}