body {
    margin: 0 auto;
    font-family: sans-serif;
    overscroll-behavior: none;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: whitesmoke;
    padding: 0 10px;
}

.feed {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.messages-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #00bfff;
    gap: 80px;
    cursor: pointer;
    transform: translateX(100%);
    animation: feed 60s linear infinite;
}

.messages-container img {
    margin-right: 20px;
}

.feed:hover .messages-container {
    animation-play-state: paused;
}

@keyframes feed {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.flex button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.flex button:hover {
    background-color: #f0f0f0;
}